/* regole generali */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.wrapper {
    height: 100vh;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    font-size: inherit;
    background-color: #4a4a4a; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
    
}

button:hover {
    opacity: .6;
}

button:active {
    background-color: #ffffffa9;
    opacity: 1;
}

.control button:active {
    background-color: #525050;
    opacity: 1;
}

/* INTESTAZIONE*/

header {
    height: 60px;
    background-color: black;
    color: #ffffff;
    z-index: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* MAIN Scroll*/

main {
    height: calc(100% - 150px);
    padding: 50px 5%;
    overflow: auto;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item {
    min-width: 95px;
    position: relative;
    cursor: pointer;
}

.item img {
    display: block;
    max-width: 100%;
}

.item .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
}

.item-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.item:hover .item-menu {
    opacity: 1;
}


/* FOOTER*/

footer {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color:#ffffff;
    z-index: 900;
}

.control, .icon-up {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    transition: all 1s ease-in-out;
}

.icon-up {
    gap: 0;
}

    /* Modello icona */

    .icon {
        text-align: center;
    }

    .icon i {
        font-size: 23px;
        margin-bottom: 5px;
    }

    .fa-share-from-square {
        color: green;
    }

    .control button {
        background-color: inherit;
    }

button.end-control  {
    width: 160px;
    height: 100%;
    color: red;
    border-radius: 0;
}



/* DEBUG */

/* header, footer, .item-container {
    border: dotted 5px blueviolet;
}

button,  .control, .item  {
    border: dotted 3px rgb(226, 116, 43);
}

main {
    background-color: rgb(24, 187, 160);
} */
